In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from IPython.core.display import display, HTML
import os
%matplotlib inline

In [2]:
# Notebook Styling 
sns.set()
pd.options.display.max_columns = None
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('display.float_format',lambda x: '%.5f' % x)

In [4]:
CSV_PATH = os.path.join('data', 'hr', 'Absenteeism_at_work.csv')
absenteeism = pd.read_csv(CSV_PATH, encoding='latin1', sep=';') 
absenteeism.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.55400,97,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.55400,97,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.55400,97,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.55400,97,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.55400,97,0,1,2,1,0,1,90,172,30,2

In [8]:
absenteeism.shape

(740, 21)

In [9]:
absenteeism.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
ID                                 740 non-null int64
Reason for absence                 740 non-null int64
Month of absence                   740 non-null int64
Day of the week                    740 non-null int64
Seasons                            740 non-null int64
Transportation expense             740 non-null int64
Distance from Residence to Work    740 non-null int64
Service time                       740 non-null int64
Age                                740 non-null int64
Work load Average/day              740 non-null float64
Hit target                         740 non-null int64
Disciplinary failure               740 non-null int64
Education                          740 non-null int64
Son                                740 non-null int64
Social drinker                     740 non-null int64
Social smoker                      740 non-null int64
Pet                                740 non-null int64
Weight                             740 non-null int64
Height                             740 non-null int64
Body mass index                    740 non-null int64
Absenteeism time in hours          740 non-null int64
dtypes: float64(1), int64(20)
memory usage: 121.5 KB

## Categorical Feature: Reason for absence  

The **Reason for Absence** feature consists of 28 possible answers:

1.  Certain infectious and parasitic diseases  
2. Neoplasms  
3. Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism  
4. Endocrine, nutritional and metabolic diseases  
5. Mental and behavioural disorders  
6. Diseases of the nervous system  
7. Diseases of the eye and adnexa  
8. Diseases of the ear and mastoid process  
9. Diseases of the circulatory system  
10. Diseases of the respiratory system  
11. Diseases of the digestive system  
12. Diseases of the skin and subcutaneous tissue  
13. Diseases of the musculoskeletal system and connective tissue  
14. Diseases of the genitourinary system  
15. Pregnancy, childbirth and the puerperium  
16. Certain conditions originating in the perinatal period  
17. Congenital malformations, deformations and chromosomal abnormalities  
18. Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified  
19. Injury, poisoning and certain other consequences of external causes  
20. External causes of morbidity and mortality
21. Factors influencing health status and contact with health services.
22. patient follow-up 
23. medical consultation 
24. blood donation 
25. laboratory examination 
26. unjustified absence 
27. physiotherapy 
28. dental consultation

In [10]:
absenteeism['Reason for absence'] = absenteeism['Reason for absence'].astype('category')